/* ---------------------------------------------- */
/* Fonts and Imports
/* ---------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* ---------------------------------------------- */
/* General Styles
/* ---------------------------------------------- */
body {
    font: 300 14px/1.8 'Raleway', sans-serif;
    color: #666;
    overflow-x: hidden;
}

img {
    width: 242px;
    height: 331px;
    float: left;
    margin: 10px 80px 10px 20px;
    border-radius: 0%;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 5px 0;
}

h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 25px;
}

h3, h4, h5, h6 {
    font-size: 13px;
    letter-spacing: 1px;
}

h5, h6 {
    font-weight: 400;
}

p {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: justify;
}

article {
    margin: 20px 30% 20px 20px;
}

/* ---------------------------------------------- */
/* Buttons
/* ---------------------------------------------- */
.btn {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 8px 26px;
    border: 0;
}

.btn-lg {
    padding: 10px 25px;
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
}

.btn-lg:hover {
    background: rgba(17, 17, 17, 1.8);
}

.btn-sm {
    padding: 6px 25px;
    font-size: 11px;
}

.btn-xs {
    padding: 5px 25px;
    font-size: 10px;
}

/* ---------------------------------------------- */
/* Forms and Inputs
/* ---------------------------------------------- */
.form-control, .input-group-addon {
    border-radius: 3px;
    background: #FFF;
    border: 1px solid #D8E1E4;
    font-size: 12px;
    padding: 0 15px;
}

.form-control:focus {
    border-color: rgba(135, 135, 135, 0.7);
}

.input-group-addon {
    background: #D8E1E4;
    padding: 6px 15px;
    font-weight: 700;
}

/* ---------------------------------------------- */
/* Home Section
/* ---------------------------------------------- */
#home {
    background: url(../images/usf4.jpg) no-repeat center center;
    background-size: cover;
    max-height: 200px;
}

.intro {
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center;
    transform: translateY(-50%);
    padding: 0 15px;
}

.intro h1 {
    font-size: 40px;
    letter-spacing: 5px;
    color: #fff;
}

.start {
    font-size: 16px;
    color: #fff;
    margin: 15px 0;
}

/* ---------------------------------------------- */
/* Navigation
/* ---------------------------------------------- */
.header {
    border-bottom: 1px solid #f5f5f5;
    width: 100%;
    z-index: 998;
}

.navbar-custom {
    background: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
    font-size: 11px;
    letter-spacing: 3px;
    color: #222;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 22px;
}

.navbar-custom .navbar-nav > li.active a,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #49CCB8;
}

/* ---------------------------------------------- */
/* Scroll to Top
/* ---------------------------------------------- */
.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.scroll-up a:hover {
    background-color: rgba(235, 235, 235, .8);
    color: #e7746f;
}

/* ---------------------------------------------- */
/* Media Queries
/* ---------------------------------------------- */
@media (max-width: 767px) {
    p {
        margin-right: 10%;
    }
}

@media (max-width: 480px) {
    #home {
        background-image: url(../images/usf.jpg);
        background-size: 100% 100%;
        max-height: 100px;
    }

    h1 {
        font-size: 34px;
        letter-spacing: 3px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 30px;
        letter-spacing: 3px;
    }

    p {
        font-size: 14px;
        margin-right: 20%;
    }
}

/* ---------------------------------------------- */
/* Quote Rotator
/* ---------------------------------------------- */
.cbp-qtrotator {
    position: relative;
    margin: 3em auto 0;
    max-width: 90%;
}

.cbp-qtrotator .cbp-qtcontent {
    position: absolute;
    min-height: 200px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding: 1em 0;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent {
    position: relative;
    z-index: 100;
    opacity: 1;
}

.cbp-qtprogress {
    position: absolute;
    background: #FF5252;
    height: 1px;
    width: 0;
    top: 0;
    z-index: 1000;
}

.cbp-qtrotator blockquote {
    margin: 0;
    padding: 0;
    font-size: 10px;
    border: 0;
}

.cbp-qtrotator blockquote p {
    font-size: 2em;
    color: #888;
    font-weight: 300;
    margin: 0.4em 0 1em;
}

.cbp-qtrotator blockquote footer {
    font-size: 1.2em;
}

.cbp-qtrotator blockquote footer:before {
    content: '— ';
}

.cbp-qtrotator .cbp-qtcontent img {
    float: right;
    margin-left: 3em;
}

@media screen and (max-width: 30.6em) { 
    .cbp-qtrotator {
        font-size: 70%;
    }

    .cbp-qtrotator img {
        width: 80px;
    }
}
